---
import Layout from "../layouts/Layout.astro";
import HeaderTitle from "../components/HeaderTitle.astro";
import Main from "../components/Main.astro";
---

<Layout title="My First Astro Project | Blog">
  <Main>
    <HeaderTitle text="Astro Blog"/>
  </Main>
</Layout>
